{% extends "base.html" %}

{% block title %}<h1>Blog</h1>{% endblock %}

{% block content %}
    {% if session.logged_in %}
        <button><a href="{{ url_for('new_post') }}">Novo Post</a></button>
    {% endif %}
    <ul>
        {% for post in posts | reverse %}
            <li>
                <a href="{{ url_for('blog_post', post_id=loop.revindex) }}"><h2>{{ post.title }}</h2></a>
                <p>{{ post.body }}</p>
            </li>
        {% else %}
            <p>Nenhum post encontrado</p>
        {% endfor %}
    </ul>
{% endblock %}