<!DOCTYPE html>
<html>
<head>
    <title>Blog do Cadu</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<header>
    <div class='container'>

    <h1 class='logo'>Cadu</h1>
    <input type="checkbox" class="nav-toggle" id="nav-toggle">
    <nav>
    <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/about">Sobre</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="#">Contato</a></li>
    </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>

    </div>
</header>

<main>
    <div class="title">
    {% block title %}{% endblock %}
    </div>
    
    <div class="href_login">
    {% if session.logged_in %}
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
    </div>

    <div class="content">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}
    </div>
</main>

</body>
</html>