<!DOCTYPE html>
<html>
<head>
    <title>Blog do Cadu</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<header>
    <div>

    <h1 class='logo'>Blog</h1>
    <input type="checkbox" class="nav-toggle" id="nav-toggle">
    <nav>
    <ul>
        <li><a href="#">Início</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contato</a></li>
    </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>

    </div>
</header>

<main>

</main>

</body>
</html>