<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Minha Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header-fixed">
        <h1>Bem-vindo ao Meu Aplicativo Flask</h1>
    </header>

    <main>
        <section>
            <h2>Seja bem-vindo!</h2>
            <p>Esta é a página inicial do nosso aplicativo Flask.</p>
        </section>          
        <nav>
            <ul>
                <li><a href="/">Página Inicial</a></li>
                <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Contato</a></li>
            </ul>
        </nav>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
    </main>
    
    <footer class="footer-fixed">
        <p>&copy; Meu Aplicativo Flask</p>
    </footer>
</body>
</html>